/* some common colors used in the brand */
.charcoal { color: #292929; }
.steel    { color: #c8ced3; }
.purple   { color: #5f1fb7; }
.cobalt   { color: #1f6ab7; }
.teal     { color: #1fb789; }
.green    { color: #1fb72b; }
.yellow   { color: #c8ba00; }
.orange   { color: #c66000; }
.red      { color: #b7151f; }
.pink     { color: #b72f89; }
