/*  this file should be included after a good reset.css */

@media screen, projection, tv, handheld {
  /* on-screen headers are serif, content is sans */
  body {
    font-family: "Fontin Sans", "Helvetica Neue", Helvetica, "Geneva", sans-serif;
    font-size: 100%;    /* 16px by default, but resize-able */
    line-height: 1.5em;
  }
  h1, h2, h3, h4, h5, h6, legend, lh { font-family: "Calluna", Times, "Times New Roman", Georgia, serif; }
  
  a       { text-decoration: none; }
  a:hover { text-decoration: underline; }
  
  /* on-screen font sizes are all in em or % so users can resize them.
     For each selector that has a different font-size, it should have
     a line-height that counterbalances such that font-size x line-height
     is a multiple of the body line-height (here 1.5em) */
  h1      { font-size: 2em; line-height: 1.5em; }
  h2, legend, lh { font-size: 1.5em; margin-top: 0.8em; margin-bottom: 0.2em; }
  h3, h4 { margin-top: 1.2em; margin-bottom: 0.3em; }
  small, aside, details, blockquote, .sidebar, .callout { font-size: 0.75em; line-height: 2em; }
  
  p + p { margin-top: 1.5em; }
  
  p { width: 52em;}
  blockquote {
    /* total width (margins + borders + padding + width)
       should equal (normal p's width)/(blockquote font-size):
       52em/0.75 = 70em */
    margin-left: 5em; margin-right: 5em;
    border-left: 0.5em solid;
    padding-left: 0.5em;
    width: 59em;
  }
  blockquote p { width: auto; }
}

@media print {
  /* on paper, headers and content are both serif,
     but headers are stylized a bit */
  body {
    font-family: "Calluna", "Times New Roman", Times, Georgia, serif;
    font-size: 10px;
    line-height: 12px;
  }
  
  /* printed font sizes are all in px for precision;
     no need for users to resize since there's no UI.
     Line-heights should be multiples of 12px. */
  h1              { font-size: 36px; line-height: 36px; margin-top: 8px; margin-bottom: 4px; }
  h2, legend, lh  { font-size: 24px; line-height: 24px; margin-top: 8px; margin-bottom: 4px; }
  h3, h4          { margin-top: 10px; margin-bottom: 2px; }
  small, aside, details, blockquote, .sidebar, .callout { font-size: 9px; }
  
  p { text-indent: 3em; }
  h1 + p:first-letter, h2 + p:first-letter, p:first-child:first-letter {
    display: block;
    float: left;
    font-size: 36px;
    padding: 6px 8px;
  }
  blockquote p:first-child:first-letter {
    display: inherit;
    float: inherit;
    font-size: inherit;
    padding: inherit;
  }
  h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p, p:first-child { text-indent: 0; }
  
  a:link, a:visited {
    background: transparent;
    font-weight: bold;
    text-decoration: underline;
  }  
}

pre, code, kbd, samp, tt, keygen {
  font-family: "DejaVu Sans Mono", "Lucida Console", Courier, monospace;
}

h3  { font-weight: bold; }
h4  { font-style: italic; }

del { text-decoration:line-through; }

a, button, command,
  input[type="button"], input[type="submit"]      { cursor: pointer; }
abbr[title], acronym[title], time[title]          { cursor: help; }
input[type="text"], input[type="password"],
  input[type="search"], input[type="email"],
  input[type="url"], input[type="tel"], textarea  { cursor: text; }

b, big, blink, center, dir, font, i, s, strike, u {
  /* you're doing it wrong */
  color: purple;
  background-color: orange;
  border: 10px solid pink;
  font-size: 6em;
  line-height: 1em;
  text-decoration: blink;
  z-index: 9999;
}
